<div id="url-bar">
    <div class="section">
        <form name="addUrlForm" ng-submit="vm.add()">
            <div class="col s2">
                <button type="submit" ng-disabled="!addUrlForm.$valid" name="submitButton" class="btn-floating btn-medium waves-effect waves-light red z-depth-3"><i class="material-icons">add</i></button>
            </div>
            <div class="col s10">
                <input type="text" ng-required="true" name="urlValue" ng-pattern="/^(?:(?:https?)://)/i" class="z-depth-3" ng-model="vm.currentNew.url"
                    placeholder="Begin your journey with a new Url...">
            </div>
        </form>
    </div>
    <div class="section">
        
    </div>
    <div class="section">
        <div class="row" ng-repeat="url in vm.urls">
            <url-bar-item urlitem="url"></url-bar-item>
            <md-divider md-inset ng-if="!$last"></md-divider>
        </div>
    </div>
</div>